@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

body {
    background-color: aquamarine;
}

.invisible {
    display: none !important;
}

.displayNone {
    display: none;
}

/* general styling */
h1 {
    font-family: "PT Sans";
    font-weight: 600;
}

h2 {
    font-family: "PT Sans";
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.border {
    border: 2px solid #dee2e6 !important;
}

.buttons {
    background-color: aqua;
    font-family: "PT Sans";
    width: 7em;
    height: 7em;
    border-radius: 50%;
    border: 2px ridge;
    position: relative;
    color: rgb(21, 21, 92);
}

span {
    font-family: "PT Sans";
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(21, 21, 92);
}

.swal-modal {
    border: 4px solid #eb0e0e;
    width: 20%;
    margin-top: 27%;
    margin-left: 0;
    margin-left: auto;
}

/* styling initial/welcome screen div */
#cover {
    background-color: orange !important;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: fixed;
    z-index: 1;
}

#start {
    position: fixed;
    margin-top: 30%;
    margin-left: 20%;
    font-family: "PT Sans";
    font-size: 1.3em;
    font-weight: 900;
    color: rgb(21, 21, 92);
}

#coverPic {
    position: relative;
    margin-top: 16%;
    margin-left: 20%;
    width: 22%;
    height: 30%;
}

#coverText {
    font-family: "PT Sans";
    font-weight: 600;
    display: flex;
    margin-left: 24%;
}

/* styling header */
#headZone {
    background-color: white;
    display: flex;
}

#title {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    font-size: 2em;
}

#startAudio {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

#music {
    margin-left: .4em;
    font-size: 2em;
}

/* styling the game zone and inside divs */
#game-zone {
    background-color: aquamarine;
}

#pic-zone {
    width: 50%;
    height: 48%;
    margin: auto;
    padding: .5em;
    background-color: coral;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: .5em;
    margin-bottom: .5em;
}

/* img to describe */
#picture {
    margin: 0 auto;
    width: 60%;
    max-width: 20em;
    min-width: 12em;
    height: 35%;
    max-height: 17em;
    min-height: 9em;
    border: 2px solid aqua;
}

/* div for in-game buttons */
#buttons {
    margin: 0 auto;
    margin-top: 4%;
}

/* change of color of button so there will be a noticeble chance in the screen, similating the same button having 2 actions */
#checkSentence {
    background-color: rgb(23, 23, 88);
    color: aquamarine;
}

/* styling answer zone */
#answer-zone {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    margin-bottom: 0;
    align-items: center;
}

/* inputs radio options */
#pickAnswer {
    font-family: "PT Sans";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* background color for answer area divs */
#pickAnswer,
#showResult {
    background-color: rgb(0, 255, 179);
    width: 15em;
    height: 15em;
    margin: .5em;
    padding: .5em;
}

/* div and img that display the feedback gif to the answer selected */
#showResult {
    align-items: center;
    display: flex;
    align-content: space-around;
    justify-content: center;
}

#result {
    object-fit: cover;
    width: 14em;
    height: 14em;
}

/* styling footer, contains the score and exit button */
#score {
    width: 100%;
    position: fixed;
    display: flex;
    bottom: 0;
    height: 2.8em;
    background-color: white;
}

#score-box {
    width: 55%;
    display: flex;
    justify-content: flex-end;
}

#exitDiv {
    width: 45%;
    display: flex;
    justify-content: flex-end;
}

#exit {
    width: 5em;
    background-color: red;
    color: rgb(25, 12, 82);
    font-family: "PT Sans";
    font-weight: 800;
}

/* styling the ?/instructions and result div and elements in it */
#helpInstructions,
#finalResult {
    font-family: "PT Sans";
    font-weight: 600;
    width: 40%;
    height: 46%;
    margin-top: 2%;
    margin-left: 30%;
    padding: 2%;
    background-color: #ff444b;
    z-index: 8;
    position: fixed;
    visibility: hidden;
}

#finalResultImg {
    width: 18%;
    height: 24%;
    position: fixed;
    margin-left: 12%;
    display: flex;
    justify-content: center;
    visibility: hidden;
    z-index: 5;
}

#closeInstructions {
    margin-left: 95%;
    margin-bottom: 2%;
}

.textFinal {
    font-size: 2em;
    display: flex;
    justify-content: center;
}

/* hide the answer label, this is used just for recall data in js */
#answerLabel {
    visibility: hidden;
}

/* ------------------mediaQuery-------------------- */

  /*this is the mediaQuery for mobile, it's not being display but it's working as screenshots will show in the README
    it had been work for 414x896 / 360x740 / 375x667 */

@media screen and (max-width: 767px) {
    #helpInstructions, #finalResult {
               width: 90%;
               height: 70%;
               margin-top: 10%;
               margin-left: 0;
               margin-left: 5%;
      }
      #closeInstructions {
               margin-left: 90%;
               margin-bottom: 2%;
      }
    #pic-zone {
               width: 80%;
            min-width: 18em;}
    .buttons {
               width: 5em;
               height: 5em;}
    #result {
               width: 10em;
               height: 9em;
      }
      #pickAnswer, #showResult {
               width: 11em;
               height: 10em;}
      label {
               font-size: 0.8em;}
      #picture {
               margin: 0 auto;
               width: 60%;
               max-width: 20em;
               min-width: 14em;
               height: 35%;
               max-height: 17em;
               min-height: 11em;}   
        .swal-modal{
            width: 60%;
            height: 35%;
        }
} 
/*
screen with message that device won't support the site, for mobiles 
@media screen and (max-width: 767px) {
    body {
        background-color: aquamarine;
    }

    #smallScreen {
        display: flex;
        background-color: #ff444b;
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100%;
        margin-top: 0;
        margin-left: 0;
        margin-left: auto;
        z-index: 6;
        justify-content: center;
        align-items: center;
    }

    #alertSmallScreen {
        align-self: center;
        justify-self: center;
        margin-left: 0;
        margin-left: auto;
        padding: 10px;
        text-align: center;
    }

    #title {
        width: 70%
    }

    #sorryImg {
        width: 35%;
        height: 30%;
        max-width: 24em;
        max-height: 27em;
    }

    #coverPic,
    #start,
    #coverText,
    #help,
    #helpInstructions,
    #music {
        display: none !important;
    }
}
*/

@media screen and (min-width: 768px) {

    #smallScreen,
    #alertSmallScreen,
    #sorryImg {
        display: none;
    }

    #pickAnswer,
    #showResult {
        margin-top: 2em;
    }
}

@media screen and (min-height: 1020px) {
    #picture {
        width: 60%;
        max-width: 24em;
        min-width: 18em;
        height: 35%;
        max-height: 21em;
        min-height: 15em;
        margin-top: 3%;
    }

    #pic-zone {
        margin-top: 4%;
        margin-bottom: 4%;
    }

    label {
        font-size: 1.2em;
    }

    #pickAnswer,
    #showResult {
        width: 14em;
        height: 14em;
        margin-top: 2em;
    }

    #score-box {
        height: 4.5em;
    }
}